.margin-bottom--30 {
  margin-bottom: 30px;
}

.margin-bottom--10 {
  margin-bottom: 10px;
}

.flex {
  display: flex;
}

.dir-col {
  flex-direction: column;
}

.margin-right--5 {
  margin-right: 5px;
}
