body {
  background-color:#F6F7FB;
}

.inputWrapper {
  margin: 20px 0
}

input {
  background-color: white;
}

.sideInputLabel {
  display: block;
  margin-bottom: 10px;
  color: #B9BDCF;
}

.radioLabel {
  color: #334680;
  font-weight: bold;
}